#root {
  text-align: center;
}
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
.outer-container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  padding-top: 80px;
}



